* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    background: #f4f6f8 !important;
    text-align: center !important;
    padding: 40px 0 !important;
}

h1 {
    font-size: 36px !important;
    padding-bottom: 10px !important;
}

p {
    font-size: 16px !important;
    padding-bottom: 30px !important;
}

.courses {
    display: flex !important;
    justify-content: center !important;
    gap: 30px !important;
}

.course {
    background: #ffffff !important;
    width: 350px !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

.course img {
    width: 80px !important;
    margin-bottom: 15px !important;
}

button {
    background: #3a3a3a !important;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 4px !important;
}

button:hover {
    background: #219150 !important;
}
